@font-face {
  font-family: 'LuciferSansRegular';
  src:  url('../fonts/LuciferSansRegular.otf') format('opentype');
}

@font-face {
  font-family: 'LuciferSansMeduim';
  src:  url('../fonts/LuciferSansMedium.otf') format('opentype');
}

@font-face {
  font-family: 'LuciferSansSemiExpLight';
  src:  url('../fonts/LuciferSansSemiExpLight.otf') format('opentype');
}

